.nav {
  display: flex;
  width: 100vw;
  background-color: lightgray;
  justify-content: space-around;
  padding-left: 0;
  position: relative;
}

.links {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  position: relative;
}

.links:hover {
  background-color: rgb(164, 164, 164);
}
